.fileDropContainer {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1rem;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23333' stroke-width='4' stroke-dasharray='10' stroke-dashoffset='7' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 16px;
  align-items: center;
  justify-content: center;
}
.placeholder {
  color: #2c2c2c;
  font-weight: 500;
}